# Folders to ignore
node_modules/
.next/
data/
docs/

# OS or Editor-specific files (optional)
.DS_Store
Thumbs.db
.vscode/
.idea/

# Ignore sensitive information
.env

#Ignore virtual environment
venv/

data/